<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Mi carrito</title>
    <link rel='stylesheet' href='/stylesheets/header.css'>
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel="stylesheet" href="/stylesheets/productCart.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/882d6fd4b6.js" crossorigin="anonymous"></script>


</head>

<body>
    <div> <%- include('partials/header.ejs') %></div>

    
    
    <div class="pb-1 pt-3">
        
          <div class="row">
            <div class="col-lg-12 p-5 bg-white rounded shadow-regular mb-5">
    
              <div style="margin-left: 2%;" class="pt-3">
                <a href="/"><button type="button" class="col-4 btn"><i class="fa fa-arrow-circle-left"></i>  Volver a productos</button></a>
              </div>
            
              <div class="table-responsive table-hover">
                <table class="table">

                  <thead>
                    <tr>
                      <th scope="col" class="border-0 bg-light">
                        <div class="p-2 px-3 text-uppercase">Producto</div>
                      </th>
                      <th scope="col" class="border-0 bg-light cantidad">
                        <div class="py-2 text-uppercase">Cantidad</div>
                      </th>
                      <th scope="col" class="border-0 bg-light">
                        <div class="py-2 text-uppercase">Precio</div>
                      </th>
                      <th scope="col" class="border-0 bg-light">
                        Eliminar
                      </th>
                    </tr>
                  </thead>
                  <% if(cartDetails.length != 0){ %>
                    <% cartDetails.forEach(cartDetails => { %>
                    <tbody>
                    

                      <tr>
                        <th scope="row" class="border-0">
                          <div class="p-2">
                            <img class="img" src="<%= cartDetails.product.images[0].ruta %>" alt="" width="70" class="img-fluid rounded shadow-sm">
                            <div class="ml-3 d-inline-block align-middle">
                              <h5 class="mb-0"> <a href="/products/detail/<%=cartDetails.product.id%>" class="text-dark d-inline-block align-middle"><%= cartDetails.product.name %></a></h5><span style="color: rgb(223, 82, 0);" class="font-weight-normal font-italic d-block ">talle <%= cartDetails.size%></span>
                            </div>
                          </div>
                        </th>

                        
                        <td class="border-0  align-middle product-quantity">
                          1
                        </td>
                        <td class="border-0 align-middle"><strong>$<%= cartDetails.product.price %></strong></td>
                        <td class="border-0 align-middle">
                          <form action="/products/removeProduct/<%= cartDetails.product.id %>" method="POST">
                            <input type="hidden" name="cartId" value="<%=cartDetails.id %>">
                            <button class="submit"><i class="fas fa-trash"></i></button>
                          </form>
                        </td>
                      </tr>
                      <% }) %>
                    <% } else { %>
                      <tr>
                        <th scope="row" class="border-0">
                          <div class="p-2">
                            <div class="ml-3 d-inline-block align-middle">
                              <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle">No hay productos en el carrito</a></h5>
                            </div>
                          </div>
                        </th>
                    </tr>
                    <% } %>

                    
                    
                    
                  <tr >
                      <% var total = 0 %>
                      <% for(var i = 0; i < cartDetails.length; i++){ 
                        total = total + cartDetails[i].product.price
                      } %>
                      <td colspan="4" class="border-0 bg-light position-right ">Suma total: <b>$ <%= total %></b>
                      </td>
                  </tr>
                  


                  </tbody>
                  


                </table>
              </div>
              <div class="buttonfix row justify-content-end" style="width: 100%;">
                <button type="button" class="col-4 btn"><a href="/products/confirm">Pagar  <i class="fa fa-arrow-circle-right"></i></a></button>
              </div>
            </div>
              

            



            </div>
          </div>
    </div>
         

          <%- include('partials/footer.ejs') %> 
</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</html>