<!doctype html>
<html lang="en">
  <head>
    <title>FRESH | Editar Producto</title>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/882d6fd4b6.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/productAdd.css'>


    <link rel="stylesheet" href="/stylesheets/productAdd.css">
   
    
</head>
  <body>

    <%- include('partials/header.ejs') %>


<form action="/products/edit/<%= product.id%>" method="POST">
<div class="container">
<div class="row">
<div class="col-lg-12 p-5 bg-#f1f2f6 mb-5">


    <div class="container-fluid">
        <div class="row">
            
            <div class="col-lg-6 col-md-12 col-sm-12"> 
                
                <br>
                
                <h5>Editar Producto</h5>
                
            <div class="textbox">
                <i class="fas fa-box-open"></i>
                <input type="text" placeholder="Nombre del Producto" name="name" value="<%=product.name%>">
            </div>

            <div class="textbox">
                <i class="fas fa-tshirt"></i>
                <select name="category" class="categoryMenu">
                    <option value="1">96</option>
                    <option value="2">ESSENCE</option>
                    <option value="3">BASIC</option>
                  </select>
            </div>
            

            <div class="textbox">
                <i class="fas fa-dollar-sign"></i>
                    <input type="number" placeholder="Precio" name="price" value="<%=product.price%>">
                </div>
            <div class="textbox">
                <i class="fas fa-image"></i>
                <label for="imagen">Imagen del Producto:</label>
                <input value="<%=product.img%>" type="file" id="imagen" name="img" accept="image/png, image/jpeg"/>
            </div>
    
            <div class="textbox">
                <i class="fas fa-image"></i>
                <label for="imagen">Imagen del Atras:</label>
                <input value="<%=product.imgBack%>" type="file" id="imagen" name="imgBack" accept="image/png, image/jpeg"/>
            </div>
            
                <input type="submit" class="btn" name="button" value="Editar Producto">
            </div>
             
            </div>
            
        </div>
       
        </div>
       
    </div>
       
    </div>


</div>
</div>
</div>

</form>
    <%- include('partials/footer.ejs') %>
    
           
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>