<!doctype html>
<html lang="en">
  <head>
    <title>FRESH | Añadir Producto</title>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/882d6fd4b6.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/productAdd.css'>


    <link rel="stylesheet" href="/stylesheets/productAdd.css">
   
    
</head>
  <body>

    <%- include('partials/header.ejs') %>


<form action="/products/add" method="POST" enctype="multipart/form-data">
<div class="container">
<div class="row">
<div class="col-lg-12 p-5 bg-#f1f2f6 mb-5">


    <div class="container-fluid">
        <div class="row">
            
            <div class="col-lg-6 col-md-12 col-sm-12"> 
                
                <br>
                
                <h5>Añadir Producto</h5>
                
            <div class="textbox">
                <i class="fas fa-box-open"></i>
                <% if(typeof body == 'undefined'){ %>
                    <input type="text" placeholder="Nombre" name="name" value=""> 
                <% } else { %>
                    <input type="text" placeholder="Nombre" name="name" value="<%= body.name %>"> 
                <% } %>
            </div>

            <div class="textbox">
                <i class="fas fa-tshirt"></i>
                <select name="category_id" class="categoryMenu">
                    <option>Seleccione una categoría</option>
                    <option value="1">96</option>
                    <option value="2">ESSENCE</option>
                    <option value="3">BASIC</option>
                </select>
            </div>
            
            <div class="textbox">
                <i class="fas fa-dollar-sign"></i>
                <% if(typeof body == 'undefined'){ %>
                    <input type="number" placeholder="Precio" name="price" value=""> 
                <% } else { %>
                    <input type="number" placeholder="Precio" name="price" value="<%= body.price %>"> 
                <% } %>
            </div>
        
            <div class="textbox">
                <i class="fas fa-image"></i>
                <label for="imagen">Imagen del Producto:</label>     
            </div>
            <input type="file" id="imagen" name="img" accept="image/png, image/jpeg"/>

            <div class="textbox">
                <i class="fas fa-image"></i>
                <label for="imagen">Imagen del Atras:</label>
            </div>
            <input type="file" id="imagen" name="imgBack" accept="image/png, image/jpeg"/>
            
            <% if(typeof errors != 'undefined') { %>
                <ul style="padding-left: 10px;">
                    <% for(let i = 0; i < errors.length; i++){ %>
                    <li style="color: red; list-style-type: none;"> <i class="fas fa-exclamation"></i> <%= errors[i].msg %></li>
                <% } %>
                </ul>
    
            <% } %> 

            <div class="errores">
                <ul>

                </ul>
            </div>

            <div>
                <input type="submit" class="btn" name="button" value="Añadir Producto">
            </div>
             
            </div>
            
        </div>
       
        </div>
       
    </div>
       
    </div>

    <script src="/js/productAdd.js"></script>
</div>
</div>
</div>

</form>
    <%- include('partials/footer.ejs') %>
    
           
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>